  <div class="title_act"></div>
      <div class="actindex">
    <div class="actindexl"> 
        <a class="a" href="javascript:return%20false;" id="two1" onmouseover="setDiv('two',1,3)" ><span class="bfhd1 png"></span>2015年开年巨惠</a> 
        <a class="" href="javascript:return%20false;" id="two2" onmouseover="setDiv('two',2,3)" ><span class="bfhd2 png"></span>十周年店庆活动</a> 
        <a class="" href="javascript:return%20false;" id="two3" onmouseover="setDiv('two',3,3)" ><span class="bfhd3 png"></span>
        聚划算</a> 
        </div>
    <div class="actindexr"> 
            <!--banner01-->
     		<div class="banner01" id="con_two_1" style="display:block ;">
				<div id="commpany">
					<div id="main">
						<div id="slidy-0" class="ad_img">
							<a id="slidy-0-1" href=""
							target="_blank" rel="nofollow">
								<!--调用缩略图 start-->
								<img src="{HOME_THEME_PATH}images/knjhgw1.jpg"
								class="attachment-thumbnail wp-post-image" alt="2015年开年巨惠" title="2015年开年巨惠"
								width="1000px" height="378px" />
								<!--调用缩略图 end-->
							</a>
						</div>
						<ul class="slidy-menu" id="slidy-0-slidy-menu">
							<li class="slidy-link-selected" style="width: 1000px; border-right: 0px none;">
								<a href="" target="_blank">
									2015年开年巨惠
								</a>
							</li>
						</ul>
						<div id="gallery-shadow">
						</div>
					</div>
				</div>
			</div>
            <!--banner01-->
      		<div class="banner02" id="con_two_2" style="display:none ;">
				<div id="commpany">
					<div id="main">
						<div id="slidy-0" class="ad_img">
							<a id="slidy-0-1" href=""
							target="_blank" rel="nofollow">
								<!--调用缩略图 start-->
								<img src="{HOME_THEME_PATH}images/101.jpg"
								class="attachment-thumbnail wp-post-image" alt="十周年店庆活动" title="十周年店庆活动"
								width="1000px" height="378px" />
								<!--调用缩略图 end-->
							</a>
						</div>
						<ul class="slidy-menu" id="slidy-0-slidy-menu">
							<li class="slidy-link-selected" style="width: 1000px; border-right: 0px none;">
								<a href="" target="_blank">
									十周年店庆活动
								</a>
							</li>
						</ul>
						<div id="gallery-shadow">
						</div>
					</div>
				</div>
			</div>
            <!--banner01-->
      		<div class="banner03" id="con_two_3" style="display:none ;">
				<div id="commpany">
					<div id="main">
						<div id="slidy-0" class="ad_img">
							<a id="slidy-0-1" href="http://www.bjmbwedding.com/index.php/archives/1.html"
							target="_blank" rel="nofollow">
								<!--调用缩略图 start-->
								<img src="{HOME_THEME_PATH}images/1000.jpg"
								class="attachment-thumbnail wp-post-image" alt="聚划算" title="聚划算" width="1000px"
								height="378px" />
								<!--调用缩略图 end-->
							</a>
						</div>
						<ul class="slidy-menu" id="slidy-0-slidy-menu">
							<li class="slidy-link-selected" style="width: 1000px; border-right: 0px none;">
								<a href="" target="_blank">
									聚划算
								</a>
							</li>
						</ul>
						<div id="gallery-shadow">
						</div>
					</div>
				</div>
			</div>
      
      <script type="text/javascript">
        $(".ad_img").slidy({
        children:   'a',
        target:     '_blank',
        menu:       true,
        pause:      true,
        speed:      400,
        time:       4000,
        height:	  378,
        width:	  1000
        });
        </script> 
      
    </div>
  </div>