
<div class="foot">
  <!-- <div class="erweima png">
    <div class="wrap"><a class="orderbox" href="{HOME_THEME_PATH}images/weixinerweima.jpg" target="_blank" title="官方微信">缘始婚庆礼仪策划官方微信</a>
    <a href="http://weibo.com/" target="_blank" title="官方微博" >缘始婚庆礼仪策划官方微博</a></div>
  </div> -->
  <div class="clear"></div>
	<div class="store">
	<div id="footnav" class="footernav">
		<ul id="footnav" class="footnav">
			<li id="menu-item-147" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-147">
				<a href="/">
					<span>
						网站首页
					</span>
					<i>
						home
					</i>
				</a>
			</li>
			<li id="menu-item-148" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-148">
				<a href="">
					<span>
						案例欣赏
					</span>
					<i>
						case
					</i>
				</a>
			</li>
			<li id="menu-item-149" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-149">
				<a href="">
					<span>
						精彩视频
					</span>
					<i>
						video
					</i>
				</a>
			</li>
			<li id="menu-item-150" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-150">
				<a href="">
					<span>
						服务报价
					</span>
					<i>
						service
					</i>
				</a>
			</li>
			<li id="menu-item-151" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-151">
				<a href="">
					<span>
						精英团队
					</span>
					<i>
						team
					</i>
				</a>
			</li>
			<li id="menu-item-152" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-152">
				<a href="">
					<span>
						新闻动态
					</span>
					<i>
						news
					</i>
				</a>
			</li>
			<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154">
				<a href="">
					<span>
						品牌故事
					</span>
					<i>
						about
					</i>
				</a>
			</li>
			<li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155">
				<a href="">
					<span>
						合作加盟
					</span>
					<i>
						process
					</i>
				</a>
			</li>
			<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156">
				<a href="">
					<span>
						在线预约
					</span>
					<i>
						order
					</i>
				</a>
			</li>
			<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157">
				<a href="">
					<span>
						联系我们
					</span>
					<i>
						contact
					</i>
				</a>
			</li>
		</ul>
	</div>
</div>
  
  <div class="footxian"></div>
  <div class="link">
    <div class="title_link">友情链接</div>
    <div class="linklist">
        <a href="http://www.zan3.com" target="_blank">赞生博客</a>        
        <a href="http://www.weibo.com/" target="_blank">新浪微博</a>     
    </div>
  </div>
  
  <div class="footer">
    <div class="bottom">
      <div class="botlogo">
	      <a href="/">
	      <img style="display: block;" src="{HOME_THEME_PATH}images/botlogo.png">
	      </a>
      </div>
		 <div class="copyright">
			<p>
				版权所有：
				<a href="/">
					缘始婚礼公关策划服务中心
				</a>
				工信部网站备案号：京ICP备0210003号
				
			</p>
			<p>
				Copyright © 2014-2015 yuanshihunli.com Beijing Yuanshi wedding planning
				Co., Ltd. 技术支持：
				<a href="http://www.zan3.com/" target="_blank">
					赞生博客
				</a>
			</p>
			<p>
				地址：北京市东城区 东四街道东四三条六十七号 电话： 13520347519 15000003499
			</p>
			
		</div>
	</div>
  </div>
</div>
<div class="position"><a href="#" onclick="$('html,body').animate({scrollTop:0},500);return false;"></a></div>

<script type="text/javascript">
    $(function() {
        $(window).resize(function() { goTop(); });
        $(window).scroll(function() { goTop(); });
    });
    function goTop() {
        $(".float").stop().animate({ "top": ($(window).height() + $(window).scrollTop() - ($(window).height() + $(".float").height()) / 2) < 743 ? 743 :
 $(window).height() + $(window).scrollTop() - ($(window).height() + $(".float").height()) / 2
        }, 600);
    }
</script> 



<div class="float"> 
     
    <a class="fb" href="http://wpa.qq.com/msgrd?=3&amp;uin=11360517&menu=yes" title="联系我们QQ" target="_blank"></a> 
    {list action=navigator type=4 pid=0}
	{if $t.id=53}		
    <a class="fc orderbox" href="{dr_thumb($t.thumb)}" title="微信订阅" target="_blank"></a> 
    {/if}
    {/list}
    <a class="fd" href="http://weibo.com/" title="官方微博" target="_blank"></a> 
</div>


</body>
</html>