<!DOCTYPE html>
<html lang="zh-CN">
<!--
                       (0 0)
   +-------------oOO----(_)----------------+
   |   Powered By zan - www.zan3.com  |
       |
   |   E-mail:onmicn@163.com           |
   +--------------------------oOO----------+
                      |__|__|
                       || ||
                      ooO Ooo
-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="searchtitle" content="">
<meta name="author" content="www.zan3.com">
<title>{$meta_title}</title>
<meta name="keywords" content="{$meta_keywords}" />
<meta name="description" content="{$meta_description}" />
<link rel='stylesheet' id='form-manager-css-css'  href='{HOME_THEME_PATH}css/style.css' type='text/css' media='all' />
<script type='text/javascript' src='{HOME_THEME_PATH}js/userscripts.js?ver=3.9.2'></script>
<link type="text/css" rel="stylesheet" href="{HOME_THEME_PATH}css/style.css" />
<script type="text/javascript" src="{HOME_THEME_PATH}js/jquery-1.js"></script>
<script type="text/javascript" src="{HOME_THEME_PATH}js/common.js"></script>
<script type="text/javascript" src="{HOME_THEME_PATH}js/jquery_003.js"></script>
<link href="{HOME_THEME_PATH}css/jquery.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{HOME_THEME_PATH}js/jquery_002.js"></script>
<script type="text/javascript" src="{HOME_THEME_PATH}js/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $(".orderbox").fancybox();
	});
</script>
</head>