  <div class="title_jfnews" style="position:relative;">
  	<a href="{$ci->get_cache('module-1-news', 'category', 1, 'url')}" target="_blank" class="inewsmore"></a>
  	<img style="display: inline;" src="{HOME_THEME_PATH}images/title_jfnews.jpg">
  	</div>
  <div class="jfnews">

	<ul class="inews">
		{list action=module flag=1 module=news order=updatetime num=10}
		<li>
			<div class="newsindexl">
				<a href="{$t.url}" title="{$t.title}">
					<!--调用缩略图 start-->
					<img src="{dr_thumb($t.thumb,80,80)}"
					class="attachment-thumbnail wp-post-image" alt="{$t.title}"
					title="{$t.title}" width="80px" height="80px" />
					<!--调用缩略图 end-->
				</a>
			</div>
			<div class="newsindexr">
				<h2>
					<a href="{$t.url}">
						{$t.title}
					</a>
				</h2>
				<em>
					POST TIME：{dr_date($t._updatetime, 'Y-m-d')}
				</em>
				<p>
					{$t.description}
				</p>
			</div>
		</li>
		 {/list}
	</ul>
            
  </div>