  <div class="title_hotel"><a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}"></a></div>
  <div class="hotelindex">
  	<ul>
			<li>
				<a href="" title="标准精品套餐6980元"
				class="abox">
					
					<img src="{HOME_THEME_PATH}images/6680te.jpg" class="attachment-thumbnail wp-post-image"
					alt="标准精品套餐6980元" title="标准精品套餐6980元" width="210px" height="160px" />
					
				</a>
				<div class="hotelbox" style="position:relative;height:190px;">
					<p class="mz">
						SERVICE
					</p>
					<h2>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}">
							标准精品套餐6980元
						</a>
					</h2>
					<p class="xingxing">
						RMB：
						<span>
							6980
						</span>
					</p>
					<p>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}" class="ljyd">
						</a>
					</p>
					<p class="yds">
						已经有
						<b>
							9968
						</b>
						人关注！
					</p>
				</div>
			</li>
			<li>
				<a href="" title="经典时尚套餐8880元"
				class="abox">
					<!--调用缩略图 start-->
					<img src="{HOME_THEME_PATH}images/23213123.jpg" class="attachment-thumbnail wp-post-image"
					alt="经典时尚套餐8880元" title="经典时尚套餐8880元" width="210px" height="160px" />
					<!--调用缩略图 end-->
				</a>
				<div class="hotelbox" style="position:relative;height:190px;">
					<p class="mz">
						SERVICE
					</p>
					<h2>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}">
							经典时尚套餐8880元
						</a>
					</h2>
					<p class="xingxing">
						RMB：
						<span>
							8880
						</span>
					</p>
					<p>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}" class="ljyd">
						</a>
					</p>
					<p class="yds">
						已经有
						<b>
							9960
						</b>
						人关注！
					</p>
				</div>
			</li>
			<li>
				<a href="" title="炫彩灯光主题套餐12880元"
				class="abox">
					<!--调用缩略图 start-->
					<img src="{HOME_THEME_PATH}images/IMG_0159.jpg" class="attachment-thumbnail wp-post-image"
					alt="炫彩灯光主题套餐12880元" title="炫彩灯光主题套餐12880元" width="210px" height="160px"
					/>
					<!--调用缩略图 end-->
				</a>
				<div class="hotelbox" style="position:relative;height:190px;">
					<p class="mz">
						SERVICE
					</p>
					<h2>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}">
							炫彩灯光主题套餐12880元
						</a>
					</h2>
					<p class="xingxing">
						RMB：
						<span>
							12880
						</span>
					</p>
					<p>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}" class="ljyd">
						</a>
					</p>
					<p class="yds">
						已经有
						<b>
							9952
						</b>
						人关注！
					</p>
				</div>
			</li>
			<li>
				<a href="" title="LED大屏浪漫光影套餐13980元"
				class="abox">
					<!--调用缩略图 start-->
					<img src="{HOME_THEME_PATH}images/psb2.jpg" class="attachment-thumbnail wp-post-image"
					alt="LED大屏浪漫光影套餐13980元" title="LED大屏浪漫光影套餐13980元" width="210px" height="160px"
					/>
					<!--调用缩略图 end-->
				</a>
				<div class="hotelbox" style="position:relative;height:190px;">
					<p class="mz">
						SERVICE
					</p>
					<h2>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}">
							LED大屏浪漫光影套餐13980元
						</a>
					</h2>
					<p class="xingxing">
						RMB：
						<span>
							13980
						</span>
					</p>
					<p>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}" class="ljyd">
						</a>
					</p>
					<p class="yds">
						已经有
						<b>
							9954
						</b>
						人关注！
					</p>
				</div>
			</li>
			<li>
				<a href="" title="镜面T台暗场浪漫主题套餐14880元"	class="abox">
					<!--调用缩略图 start-->
					<img src="{HOME_THEME_PATH}images/14880te.jpg" class="attachment-thumbnail wp-post-image"
					alt="镜面T台暗场浪漫主题套餐14880元" title="镜面T台暗场浪漫主题套餐14880元" width="210px" height="160px"
					/>
					<!--调用缩略图 end-->
				</a>
				<div class="hotelbox" style="position:relative;height:190px;">
					<p class="mz">
						SERVICE
					</p>
					<h2>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}}">
							镜面T台暗场浪漫主题套餐14880元
						</a>
					</h2>
					<p class="xingxing">
						RMB：
						<span>
							14880
						</span>
					</p>
					<p>
						<a href="{$ci->get_cache('page-1', 'data', 'index', 6, 'url')}" class="ljyd">
						</a>
					</p>
					<p class="yds">
						已经有
						<b>
							9923
						</b>
						人关注！
					</p>
				</div>
			</li>
		</ul>  	   
  </div>
  <div class="clearit"></div>