  <div class="title_team"><a href=""></a></div>
  <div class="teamindex">
  		<ul>
	<li>
		<a href="" title="凤凰苏源大厦">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/10ckeditor_1333160872_38751.jpg" class="attachment-thumbnail wp-post-image"
			alt="凤凰苏源大厦" title="凤凰苏源大厦" width="190px" height="209px" />
			<!--调用缩略图 end-->
			<span>
				凤凰苏源大厦
			</span>
		</a>
	</li>
	<li>
		<a href="" title="辉煌净雅大酒店">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/r01-1.jpg" class="attachment-thumbnail wp-post-image"
			alt="辉煌净雅大酒店" title="辉煌净雅大酒店" width="190px" height="209px" />
			<!--调用缩略图 end-->
			<span>
				辉煌净雅大酒店
			</span>
		</a>
	</li>
	<li>
		<a href="" title="京都信苑饭店">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/jingduxinyuan.jpg" alt="京都信苑饭店" title="京都信苑饭店" width="190"
			height="209" />
			<!--调用缩略图 end-->
			<span>
				京都信苑饭店
			</span>
		</a>
	</li>
	<li>
		<a href="" title="朗豪酒店">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/langhaojiudian.jpg" alt="朗豪酒店" title="朗豪酒店" width="190"
			height="209" />
			<!--调用缩略图 end-->
			<span>
				朗豪酒店
			</span>
		</a>
	</li>
	<li>
		<a href="" title="兴海大厦">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/xinghaidasha.jpg" alt="兴海大厦" title="兴海大厦" width="190"
			height="209" />
			<!--调用缩略图 end-->
			<span>
				兴海大厦
			</span>
		</a>
	</li>
	<li>
		<a href="" title="行宫国际酒店">
			<!--调用缩略图 start-->
			<img src="{HOME_THEME_PATH}images/rBEQYVGnevQIAAAAAACehy5gFGsAACZLAIMqBkAAJ6f091.jpg"
			class="attachment-thumbnail wp-post-image" alt="行宫国际酒店" title="行宫国际酒店"
			width="190px" height="209px" />
			<!--调用缩略图 end-->
			<span>
				行宫国际酒店
			</span>
		</a>
	</li>
</ul>		    
  </div> 