{template "header.html"}
<body>
{template "top_nav.html"}
<!--head start--> 
<!--top-->
{template "top.html"}
<!--top end-->
{template "nav.html"}
<!--head end--> 
<!--banner start-->
{template "banner.html"}
<!--banner end--> 
<!--jsindex--> 
<script type="text/javascript" src="{HOME_THEME_PATH}js/jquery_004.js"></script> 
<!--mainbody start-->
<div class="mainbody"> 
  <!--act start-->
	{template "act.html"}
  <!--act end--> 
  <!--case start-->
	{template "in_case.html"}
  <!--case end-->  
  <!--video start-->
	{template "in_video.html"}
  <!--video end-->
  <!--server start-->
	{template "in_server.html"}
  <!--server end-->  
  <!--team--> 
	{template "in_team.html"}
  <!--team end--> 
  <div class="clearit"></div>
  <!--jfnews start-->
	{template "in_news.html"}
  <!--jfnews end--> 
</div>
<!--mainbody end-->
{template "footer.html"}