<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="searchtitle" content="">
<meta name="author" content="">
<title>婚礼策划_北京婚庆公司_海淀区婚庆_北京婚礼策划</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel='stylesheet' id='form-manager-css-css'  href='./css/style.css' type='text/css' media='all' />
<script type='text/javascript' src='./js/userscripts.js?ver=3.9.2'></script>
<link type="text/css" rel="stylesheet" href="./css/style.css" />
<script type="text/javascript" src="./js/jquery-1.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/jquery_003.js"></script>
<link href="./css/jquery.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./js/jquery_002.js"></script>
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $(".orderbox").fancybox();
	});
</script>
</head>

<body>

<div class="topbg">
<div id="topnav" class="topbgCon">
<ul id="topnav" class="topnav">
	<li id="menu-item-249" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-249">
		<a href="">
			首页
		</a>
	</li>
	<li id="menu-item-250" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-250">
		<a href="">
			婚礼案例
		</a>
	</li>
	<li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22">
		<a href="">
			精彩视频
		</a>
	</li>
	<li id="menu-item-24" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-24">
		<a href="">
			服务报价
		</a>
	</li>
	<li id="menu-item-251" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-251">
		<a href="">
			婚礼学院
		</a>
	</li>
	<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
		<a href="">
			在线预约
		</a>
	</li>
	<li id="menu-item-252" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-252">
		<a target="_blank" href="">
			缘始日志
		</a>
	</li>
	<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
		<a href="">
			联系我们
		</a>
	</li>
</ul>
</div>
</div>
<script type="text/javascript">
$(window).scroll(function(){
	if ($(window).scrollTop() > 220){
		$(".topbg").slideDown(1000);
	}
	else
	{
		$(".topbg").slideUp(1000);
	}
});
</script> 
<!--head start--> 

<!--top-->
<div class="top">
	<div class="toper">
		<div class="hybiaoti">
			欢迎访问缘始婚庆礼仪策划官方网站！
		</div>
		<div class="topmenu">
			<a class="nobg" href="">
				品牌故事
			</a>
			<a class="" href="">
				服务项目
			</a>
			<a class="" href="">
				合作加盟
			</a>
			<a class="" href="">
				在线预约
			</a>
			<a class="" href="">
				联系我们
			</a>
		</div>
	</div>
</div>
<!--top end-->
<div class="head">
	<div class="header">
		<div class="logo">
			<a href="" title="缘始婚庆礼仪策划">
				<img src="./images/logo.png"
				alt="缘始婚庆礼仪策划" width="200" height="100">
			</a>
		</div>
		<div class="menu">
			<div id="mainnav" class="menunav">
				<ul id="mainnav" class="mainnav">
					<li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-18">
						<a href="">
							<span>
								BRAND
							</span>
						</a>
						<ul class="sub-menu">
							<li id="menu-item-233" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-233">
								<a href="">
									缘始首页
								</a>
							</li>
							<li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238">
								<a href="">
									品牌故事
								</a>
							</li>
							<li id="menu-item-234" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-234">
								<a href="">
									精英团队
								</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12">
						<a href="">
							<span>
								showcase
							</span>
						</a>
						<ul class="sub-menu">
							<li id="menu-item-224" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-224">
								<a href="">
									婚礼案例
								</a>
							</li>
							<li id="menu-item-239" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-239">
								<a href="">
									精彩视频
								</a>
							</li>
							<li id="menu-item-225" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-225">
								<a href="">
									商务庆典
								</a>
							</li>
							<li id="menu-item-562" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-562">
								<a href="">
									服务项目
								</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-240" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-240">
						<a href="">
							<span>
								ACTIVITY
							</span>
						</a>
						<ul class="sub-menu">
							<li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14">
								<a href="">
									服务报价
								</a>
							</li>
							<li id="menu-item-241" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-241">
								<a href="">
									优惠活动
								</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-17">
						<a href="">
							<span>
								news
							</span>
						</a>
						<ul class="sub-menu">
							<li id="menu-item-230" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-230">
								<a href="">
									新闻资讯
								</a>
							</li>
							<li id="menu-item-231" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-231">
								<a href="">
									婚礼学院
								</a>
							</li>
							<li id="menu-item-242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-242">
								<a target="_blank" href="">
									缘始日志
								</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-245" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-245">
						<a href="">
							<span>
								GROUP
							</span>
						</a>
						<ul class="sub-menu">
							<li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247">
								<a href="">
									在线预约
								</a>
							</li>
							<li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-505">
								<a href="">
									合作酒店
								</a>
							</li>
							<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246">
								<a href="">
									合作加盟
								</a>
							</li>
							<li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248">
								<a href="">
									联系我们
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--head end--> 

<!--banner start-->
<div class="banner"> <a href="javascript:void(0)" class="bn_prev"></a> <a href="javascript:void(0)" class="bn_next"></a>
  <div class="bannerimg">
    <ul>
            <li><a href="" target="_blank"><img src="./uploads/banner002.jpg"></a></li>
            <li><a href="" target="_blank"><img src="./uploads/banner004.jpg"></a></li>
            <li><a href="" target="_blank"><img src="./uploads/banner003.jpg"></a></li>
            <li><a href="" target="_blank"><img src="./uploads/banner001.jpg"></a></li>
          </ul>
  </div>
  <div class="bmenu">
	<div class="bannermenu" style="display:none;">
		<ul>
			<li class="cur">
				<a href="javascript:void(0);">
				</a>
				<div class="bimg">
					<img src="./images/b.png">
				</div>
			</li>
			<li class="">
				<a href="javascript:void(0);">
				</a>
				<div class="bimg">
					<img src="./images/b.png">
				</div>
			</li>
			<li class="">
				<a href="javascript:void(0);">
				</a>
				<div class="bimg">
					<img src="./images/b.png">
				</div>
			</li>
			<li class="">
				<a href="javascript:void(0);">
				</a>
				<div class="bimg">
					<img src="./images/b.png">
				</div>
			</li>
		</ul>
	</div>
	<div class="bsns">
		<a href="http://wpa.qq.com/msgrd?=3&uin=11360517&menu=yes" target="_blank"
		rel="nofollow" class="qq">
		</a>
		<a href="./images/weixinerweima.jpg"
		target="_blank" class="weixin orderbox">
		</a>
		<a href="http://weibo.com/5315557778" target="_blank" rel="nofollow" class="weibo">
		</a>
		<a href="" target="_blank" rel="nofollow" class="gengduo">
		</a>
	</div>
</div>
  
</div>
<!--mainbody start-->
<div class="mainbody">
  <div class="mianbao">
    <h2>  品牌故事</h2>
    <span>您所在的位置：<a href="/"class="gray">首页</a> >> 品牌故事</span></div>
    <div class="lfebodyl">
    <div class="submenu">
      <ul>
	<li class="current">
		<a href="" title="品牌故事"
		class="biao0">
			品牌故事
			<i>
				brand-story
			</i>
		</a>
	</li>
	<li>
		<a href="" title="服务项目"
		class="biao1">
			服务项目
			<i>
				service-items
			</i>
		</a>
	</li>
	<li>
		<a href="" title="合作加盟" class="biao2">
			合作加盟
			<i>
				join-us
			</i>
		</a>
	</li>
	<li>
		<a href="" title="在线预约" class="biao3">
			在线预约
			<i>
				order
			</i>
		</a>
	</li>
	<li>
		<a href="" title="联系我们"
		class="biao4">
			联系我们
			<i>
				contact-us
			</i>
		</a>
	</li>
</ul>
    </div>
	
    <div class="caselefttitle"><a href="" class="leftmore"></a></div>
    	    <div class="caseleft">
      <div class="caseleftimg"> 
            <a style="display:inline;" href="" title="京都信苑饭店">
      <!--调用缩略图 start-->
	        <img src="./images/3-443.jpg" class="attachment-thumbnail wp-post-image" alt="京都信苑饭店" title="京都信苑饭店" width="230px" height="163px" />            <!--调用缩略图 end-->
      </a>
            <a style="display:none;" href="" title="主题背景">
      <!--调用缩略图 start-->
	        <img src="./images/IMG_0028.jpg" class="attachment-thumbnail wp-post-image" alt="主题背景" title="主题背景" width="230px" height="163px" />            <!--调用缩略图 end-->
      </a>
            <a style="display:none;" href="" title="美泉宫酒店">
      <!--调用缩略图 start-->
	        <img src="./images/MG_02151.jpg" class="attachment-thumbnail wp-post-image" alt="美泉宫酒店" title="美泉宫酒店" width="230px" height="163px" />            <!--调用缩略图 end-->
      </a>
            <a style="display:none;" href="" title="北方佳苑">
      <!--调用缩略图 start-->
	        <img src="./images/beifangjiayuante.jpg" class="attachment-thumbnail wp-post-image" alt="北方佳苑" title="北方佳苑" width="230px" height="163px" />            <!--调用缩略图 end-->
      </a>
            </div>
      <div class="caseleftmenu"> 
            <a class="cur" href="javascript:void(0);">
      <!--调用缩略图 start-->
	        <img src="./images/3-443.jpg" class="attachment-thumbnail wp-post-image" alt="京都信苑饭店" title="京都信苑饭店" width="46px" height="46px" />            <!--调用缩略图 end-->
      </a>
            <a class="" href="javascript:void(0);">
      <!--调用缩略图 start-->
	        <img src="./images/IMG_0028.jpg" class="attachment-thumbnail wp-post-image" alt="主题背景" title="主题背景" width="46px" height="46px" />            <!--调用缩略图 end-->
      </a>
            <a class="" href="javascript:void(0);">
      <!--调用缩略图 start-->
	        <img src="./images/MG_02151.jpg" class="attachment-thumbnail wp-post-image" alt="美泉宫酒店" title="美泉宫酒店" width="46px" height="46px" />            <!--调用缩略图 end-->
      </a>
            <a class="" href="javascript:void(0);">
      <!--调用缩略图 start-->
	        <img src="./images/beifangjiayuante.jpg" class="attachment-thumbnail wp-post-image" alt="北方佳苑" title="北方佳苑" width="46px" height="46px" />            <!--调用缩略图 end-->
      </a>
            </div>
    </div>
        
    <div class="newslefttitle"></div>
    <div class="newsleft">
      	        <ul>
      	        <li><a href=""  title="[婚礼筹备建议]7个婚礼摄影师必须记录的瞬间">[婚礼筹备建议]7个婚礼摄影师...</a></li>
                <li><a href=""  title="巴厘岛传统仪式程序">巴厘岛传统仪式程序</a></li>
                <li><a href=""  title="婚纱照三招定胜负">婚纱照三招定胜负</a></li>
                <li><a href=""  title="结婚时预订婚宴酒店注意事项">结婚时预订婚宴酒店注意事项</a></li>
                <li><a href=""  title="新娘婚礼必守准则">新娘婚礼必守准则</a></li>
                <li><a href=""  title="婚庆公司源于清代“喜轿铺” 京城当时有120家">婚庆公司源于清代“喜轿铺” 京...</a></li>
                <li><a href=""  title="婚礼中的小点缀">婚礼中的小点缀</a></li>
                <li><a href=""  title="婚前保养 补水大作战 做个水润美新娘">婚前保养 补水大作战 做个水...</a></li>
                <li><a href=""  title="红色中国元素的婚礼灵感">红色中国元素的婚礼灵感</a></li>
                <li><a href=""  title="圣诞月求婚大作战">圣诞月求婚大作战</a></li>
          
      </ul>
          </div>
    
    <div class="lianxi">
      <p> <img style="display: inline;" src="./images/lianxi_tel.jpg" data-original="./images/lianxi_tel.jpg"></p>
      <strong>010-68186606</strong>
      <p> <img style="display: inline;" src="./images/lianxi_dz.jpg" data-original="./images/lianxi_dz.jpg"></p>
      <span>
      	北京市东城区 东四街道东四三条六十七号
      	<img src="./images/map.jpg" />
      	<img src="./images/lianxi_map.png" />
      </span> 
    </div>    
  </div>
    
    
 
<div class="lfebodyr">
    <div class="case">
                               
      <ul>
           
           
            <li><a href="" title="民族饭店">
      <!--调用缩略图 start-->
	        <img src="./images/minzufandiante.jpg" class="attachment-thumbnail wp-post-image" alt="民族饭店" title="民族饭店" width="300px" height="213px" />            <!--调用缩略图 end-->
      <span style="bottom: 213px;" class="png"><h2>民族饭店</h2></span></a>
      </li>
            <li><a href="" title="桥艺术中心">
      <!--调用缩略图 start-->
	        <img src="./images/qiaoyishute.jpg" class="attachment-thumbnail wp-post-image" alt="桥艺术中心" title="桥艺术中心" width="300px" height="213px" />            <!--调用缩略图 end-->
      <span style="bottom: 213px;" class="png"><h2>桥艺术中心</h2></span></a>
      </li>
            <li><a href="" title="五号公馆">
      <!--调用缩略图 start-->
	        <img src="" class="attachment-thumbnail wp-post-image" alt="五号公馆" title="五号公馆" width="300px" height="213px" />            <!--调用缩略图 end-->
      <span style="bottom: 213px;" class="png"><h2>五号公馆</h2></span></a>
      </li>
            <li><a href="" title="希尔顿">
      <!--调用缩略图 start-->
	        <img src="" class="attachment-thumbnail wp-post-image" alt="希尔顿" title="希尔顿" width="300px" height="213px" />            <!--调用缩略图 end-->
      <span style="bottom: 213px;" class="png"><h2>希尔顿</h2></span></a>
      </li>
            <li><a href="" title="一品香山">
      <!--调用缩略图 start-->
	        <img src="./images/yipinxiangshante.jpg" class="attachment-thumbnail wp-post-image" alt="一品香山" title="一品香山" width="300px" height="213px" />            <!--调用缩略图 end-->
      <span style="bottom: 213px;" class="png"><h2>一品香山</h2></span></a>
      </li>
            </ul>
	      </div>
    <div class="page vm"></div>
  </div>
</div>
<!--mainbody end-->

<div class="foot">
  <!-- <div class="erweima png">
    <div class="wrap"><a class="orderbox" href="./images/weixinerweima.jpg" target="_blank" title="官方微信">缘始婚庆礼仪策划官方微信</a>
    <a href="http://weibo.com/" target="_blank" title="官方微博" >缘始婚庆礼仪策划官方微博</a></div>
  </div> -->
  <div class="clear"></div>
	<div class="store">
	<div id="footnav" class="footernav">
		<ul id="footnav" class="footnav">
			<li id="menu-item-147" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-147">
				<a href="/">
					<span>
						网站首页
					</span>
					<i>
						home
					</i>
				</a>
			</li>
			<li id="menu-item-148" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-148">
				<a href="">
					<span>
						案例欣赏
					</span>
					<i>
						case
					</i>
				</a>
			</li>
			<li id="menu-item-149" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-149">
				<a href="">
					<span>
						精彩视频
					</span>
					<i>
						video
					</i>
				</a>
			</li>
			<li id="menu-item-150" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-150">
				<a href="">
					<span>
						服务报价
					</span>
					<i>
						service
					</i>
				</a>
			</li>
			<li id="menu-item-151" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-151">
				<a href="">
					<span>
						精英团队
					</span>
					<i>
						team
					</i>
				</a>
			</li>
			<li id="menu-item-152" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-152">
				<a href="">
					<span>
						新闻动态
					</span>
					<i>
						news
					</i>
				</a>
			</li>
			<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154">
				<a href="">
					<span>
						品牌故事
					</span>
					<i>
						about
					</i>
				</a>
			</li>
			<li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155">
				<a href="">
					<span>
						合作加盟
					</span>
					<i>
						process
					</i>
				</a>
			</li>
			<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156">
				<a href="">
					<span>
						在线预约
					</span>
					<i>
						order
					</i>
				</a>
			</li>
			<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157">
				<a href="">
					<span>
						联系我们
					</span>
					<i>
						contact
					</i>
				</a>
			</li>
		</ul>
	</div>
</div>
  
  <div class="footxian"></div>
  <div class="link">
    <div class="title_link">友情链接</div>
    <div class="linklist">
        <a href="http://www.zan3.com" target="_blank">赞生博客</a>        
        <a href="http://www.weibo.com/" target="_blank">新浪微博</a>     
    </div>
  </div>
  
  <div class="footer">
    <div class="bottom">
      <div class="botlogo">
	      <a href="/">
	      <img style="display: block;" src="./images/botlogo.png">
	      </a>
      </div>
		 <div class="copyright">
			<p>
				版权所有：
				<a href="/">
					缘始婚礼公关策划服务中心
				</a>
				工信部网站备案号：京ICP备0210003号
				
			</p>
			<p>
				Copyright © 2014-2015 yuanshihunli.com Beijing Yuanshi wedding planning
				Co., Ltd. 技术支持：
				<a href="http://www.zan3.com/" target="_blank">
					赞生博客
				</a>
			</p>
			<p>
				地址：北京市东城区 东四街道东四三条六十七号 电话： 13520347519 15000003499
			</p>
			
		</div>
	</div>
  </div>
</div>
<div class="position"><a href="#" onclick="$('html,body').animate({scrollTop:0},500);return false;"></a></div>

<script type="text/javascript">
    $(function() {
        $(window).resize(function() { goTop(); });
        $(window).scroll(function() { goTop(); });
    });
    function goTop() {
        $(".float").stop().animate({ "top": ($(window).height() + $(window).scrollTop() - ($(window).height() + $(".float").height()) / 2) < 743 ? 743 :
 $(window).height() + $(window).scrollTop() - ($(window).height() + $(".float").height()) / 2
        }, 600);
    }
</script> 



<div class="float"> 
    <a class="fa" href="http://wpa.qq.com/msgrd?=3&amp;uin=11360517&menu=yes" title="点击在线咨询" target="_blank"></a> 
    <a class="fb" href="http://wpa.qq.com/msgrd?=3&amp;uin=11360517&menu=yes" title="联系我们QQ" target="_blank"></a> 
    <a class="fc orderbox" href="./images/weixinerweima.jpg" title="微信订阅" target="_blank"></a> 
    <a class="fd" href="http://weibo.com/" title="官方微博" target="_blank"></a> 
</div>


</body>
</html>