{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="http://www.mantob.com/help/list-341.html" target="_blank"><em>{lang('help')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">{lang('html-710')}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<table width="100%">
        {list action=cache name=MEMBER.group return=group}
        <tr>
        	<td align="left" width="200">{$group.name}</td>
            <td align="left">
            {if $group.allowspace}
                <a style="color:#0000ff" href="{dr_url('member/space/category', array('id' => $group.id))}">{lang('html-711')}</a>
            {else}
                {dr_lang('html-712', dr_url('member/group/edit/', array('id' => $group.id, 'page' => 2)))}
            {/if}
            </td>
        </tr>
        {/list}
        </table>
	</div>
</div>
{template footer.html}