{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="http://www.mantob.net" target="_blank"><em>技术支持</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">欢迎使用Omweb系统维护工具 v{$version}</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%" class="table_form">
        <tr>
			<th width="100">第一步、 </th>
			<td>下载更新包上传至网站根目录（授权客户直接在升级后台下载或者在线更新；免费客户在论坛下载更新补丁）</td>
		</tr>
		<tr>
			<th>第二步、 </th>
			<td>执行数据库升级程序</td>
		</tr>
        <tr>
			<th></th>
			<td>{if is_file(FCPATH.'update.sql')}<a href="{$db}" target="_blank" style="color:#00F">立即执行</a>{else}本次更新无需升级数据库{/if}</td>
		</tr>
        <tr>
			<th>第三步、 </th>
			<td>运行升级脚本程序（如果你把admin.php重命名了，那么请手动更改地址在运行）</td>
		</tr>
        <tr>
			<th></th>
			<td><a href="/admin.php?c=update" target="_blank" style="color:#00F">立即运行</a></td>
		</tr>
		</table>
		</form>
	</div>
</div>
{template footer.html}