{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
        <form method="post" action="" name="searchform" id="searchform">
		<input name="search" id="search" type="hidden" value="1" />
		{dr_lang('021', $auser.realname)}
		&nbsp;
		{lang('html-019')} ：
		{dr_field_input('start', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>80)), (int)$param.start)}
		-&nbsp;
		{dr_field_input('end', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>80)), (int)$param.end)}
		&nbsp;
		<input type="submit" value="{lang('search')}" class="button" name="search" />
		</form>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="120" align="left">{lang('html-019')}</th>
			<th width="180" align="left">{lang('html-020')}</th>
			<th align="left">{lang('html-021')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<input id="inputip-{$t.id}" type="hidden" value="{$t.loginip}" />
		<tr>
			<td align="left">{dr_date($t.logintime, NULL, 'red')}</td>
			<td align="left"><a href="http://www.baidu.com/baidu?wd={$t.loginip}" target="_blank">{$t.loginip}</a></td>
			<td align="left">{$t.useragent}</td>
		</tr>
		{/loop}
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{dr_lang('html-346', $total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}