{template "header.html","/"}
<body>
{template "top.html"}
<!-- <link href="{MODULE_THEME_PATH}css.css" rel="stylesheet" /> -->
<div class="zzw mauto idx">
	<div class="fls" style="position:absolute">
		<div class="fls_l" id="box1" style="display:none">
			{template "cat.html"}
		</div>	
	</div>
</div>
<div class="zzw mauto yuyueidx">
	<form name="myform" id="myform" action="" method="post">
	<div class="yy_ok_dd">
		<!--收货人地址开始-->
		<div class="yy_buy_list">
            <h1>预定人信息</h1>
            <ul>
                {loop $address $t}
                <li>
				<input type="radio" {if $t.default}checked="checked"{/if} name="data[address]" value="{$t.id}" />
				<label>{dr_linkagepos('address', $t.city, ' ', NULL)}&nbsp;&nbsp;{$t.address}&nbsp;&nbsp;({$t.name})&nbsp;&nbsp;{$t.phone}</label>
                </li>
                {/loop}
                <li style="margin-top:10px;"><a href="{dr_member_url('address/add')}" target="_blank"><img src="{MODULE_THEME_PATH}address.png" /></a></li>
            </ul>
		</div>
		<!--支付方式开始-->
		<div class="yy_buy_list" id="zfukaunfangshi">
            <h1>付款方式</h1>
            <ul>
                {loop $paytype $i $t}
                <li>
				<input onclick="dr_select_pay({$i})" type="radio" {if $i == 3}checked="checked"{/if} name="data[ptid]" value="{$i}" />
				<label>{$t.name}{if $t.text}（{$t.text}）{/if}</label>
                {if $i == 2}
                    <ul id="dr_pay_{$i}" class="dr_pay_list">
                        {loop $online $name $t}
                        <li>
                            <input class="dr_pay_select" name="pay" type="radio" value="{$name}" />
                            <img src="{MEMBER_URL}pay/{$name}/logo.png" align="middle" width="100" height="35" />
                        </li>
                        {/loop}
                    </ul>
                {/if}
                </li>
                {/loop}
            </ul>
		</div>
		<!--Cart信息开始-->
		<div id="part_cart" class="yy_cart_shopinfo">
        	<h1>商品信息</h1>
            <div class='middle'>
            <table class='yyShoppingCart' cellpadding='1' cellspacing='1' width='100%'>
             <tr class='Thead'>
                <td>商品名称</td>
                <td width='8%'>数量</td>
                <td width='8%'>单价</td>
                <td width='8%'>促销单价</td>
                <td width='8%'>运费</td>
                <td width='10%'>小计</td>
            </tr>
            {loop $list $t}
            <tr class='tdbg'>
                <td class='align_Left' style="padding-left:10px;">
                    <table border='0'>
                    <tr>
                        <td><a href="{$t.url}" target="_blank"><img src="{dr_thumb($t.thumb, 60, 50)}" width="60" height="50" align='left'/></a></td>
                        <td style="text-align:left; padding-left:10px;">
                        <a href="{$t.url}" target="_blank">{$t.title}</a><br/>
                        {$t.format}
                        </td>
                    </tr>
                    </table>
                </td>
                <td>{$t.num}</td>
                <td><span class='price'>￥<span>{number_format($t.price, 2)}</span></span></td>
                <td><span class='price'>{if $t.discount}￥<span>{number_format($t.discount, 2)}</span>{else}无{/if}</span></td>
                <td>
                <span class='price'>
                {if $t.freight.type==0 && $t.freight.price}
                ￥<span>{number_format($t.freight.price, 2)}</span>
                {else if $t.freight.type==1 && $t.freight.price}
                ￥<span>{number_format($t.freight.price * $t['num'], 2)}</span>
                {else}
                无
                {/if}
                </span>
                </td>
                <td><span class='price'>￥<span>{number_format($t.total, 2)}</span></span></td>
            </tr>
            {/loop}
            <tr class='tdbg'>
                <td colspan="3" class='align_Left' style="padding-left:10px;height:30px">
                留言：<input class="input-text" style="border: 1px solid #D5D5D5;height:23px;" type="text" name="data[gbook]" size="80%" />
                </td>
                <td colspan="2" style='text-align:right;'>
                总运费：
                </td>
                <td style='text-align:center;' class="price">￥<span id="dr_freight_price"></span></td>
            </tr>
            <tr class='tdbg'>
                <td colspan="5" style='text-align:right;'>总价格：</td>
                <td style='text-align:center;' class="price">￥<span class="price" id="dr_total_price"></span></td>
            </tr>
            <tr class='tdbg'>
                <td colspan="5" style='text-align:right;'>
				当前账户余额：￥{$member.money}元；
                使用{SITE_SCORE}（可用<span id="dr_score_total">{$member.score}</span>）：<input type="text" style="border: 1px solid #D5D5D5;height:23px;" name="data[score]" onblur="dr_set_score(this.value)" class="input-text" size="10" id="dr_score" />
                &nbsp;&nbsp;&nbsp;
                实际付款：</td>
                <td style='text-align:center;' class="price">￥<span id="dr_pay_price" price=""></span></td>
            </tr>
            <tr>
                <td class='Tfoot' colspan='6' style='text-align:right;height:30px'>
				<div style="float:right;">
                <input type="image" title="提交预约" src="{MODULE_THEME_PATH}dd_bg.png" />
				</div>
                {if $iscode}
				<div style="float:right;padding-top:5px;">
                 验证码：<input type="text" style="border: 1px solid #D5D5D5;height:23px;" name="code" class="input-text" size="6" />&nbsp;{dr_code(90,26)}&nbsp;&nbsp;
				</div>
                {/if}
                </td>
            </tr>
            </table>        
            </div>
		</div>
    </div>
	</form>
</div>	
<div class="clear"></div>
<script type="text/javascript">
function dr_select_pay(i) {
    $('#dr_pay_'+i).show();
}
function dr_set_score(value) {
	value = parseInt(value);
	var score = parseInt({$member.score});
	if (score - value < 0) {
		value = score;
	}
	value = isNaN(value) ? 0 : value;
	$("#dr_score_total").html(parseInt(score-value));
	$("#dr_score").val(value);
	dr_update_price(value);
}
dr_update_price(0);
function dr_update_price(score) {
	$.ajax({type: "GET", url:"{MODULE_URL}index.php?c=order&m=price&data={$jsonp}&score="+score, dataType:'jsonp',jsonp:"callback",async: false,
	    success: function (data) {
			$("#dr_pay_price").html(data.total);
			$("#dr_total_price").html(data.price);
			$("#dr_freight_price").html(data.freight);
	    },
	    error: function(HttpRequest, ajaxOptions, thrownError) {
			
		}
	});
}
</script>
{template "footer.html","/"}

</body>
</html>