{template header.html}
<form action="" method="post" name="myform" id="myform">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}<span>|</span><a href="http://www.mantob.net" target="_blank"><em>技术支持</em></a>
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		<font color="gray">当管理员密码忘记时，可以在这里修改管理员密码（当开启UCenter时无效）</font>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<table width="100%" class="table_form">
		<tr>
			<th width="200">账号： </th>
			<td><input class="input-text" type="text" name="username" value=""  size="20" />
			</td>
		</tr>
		<tr>
			<th width="200">新密码： </th>
			<td><input class="input-text" type="text" name="password" value=""  size="20" />
			</td>
		</tr>
		<tr>
			<th> </th>
			<td><input value="修改密码" type="submit" name="submit" class="button" />
			</td>
		</tr>
		</table>
	</div>
</div>
</form>
{template footer.html}